<div class="jumbotron">
  <h1>MyConso</h1>
  <p class="lead">
    <img src="images/power.png" alt="I'm Yeoman" width="200"><br>
    Comparez votre consommation d'électricité avec celle de vos amis.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Génerer des données <span class="glyphicon glyphicon-play"></span></a></p>
</div>

<div class="row marketing">
  <h4>Projet</h4>
  <p>
    TP7 de SIR, Documentation : <a href="https://github.com/axdum/angularTP7">lien GitHub</a>.
  </p>
</div>
